@using socail_web2.ViewModels
@model socail_web2.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">


    <div class="col-md-8">
        @foreach (PostViewModel item in Model.Posts)
        {

            <div class="card mb-3 border-secondary shadow p-3 mb-5 bg-white rounded">
                <a>
                    <img src="@item.ImagePath"
                     height="500"
                     width="auto"
                     class="card-img-top img-fluid" />
                </a>
                <div class="card-body">
                    <h5 class="card-title text-primary text-uppercase">
                        @item.Title
                    </h5>
                    <p class="card-text">@item.Description</p>
                    <p class="card-text">
                        <small class="text-muted">by:- @item.UseName </small>
                    </p>
                </div>
            </div>

        }
    </div>
    <div class="col-md-4">
        @foreach (ApplicationUser user in Model.Users)
        {
            <div class="card mb-3 mt-4 horizontal-display shadow p-3 bg-white rounded">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2 align-text-bottom">
                             <img src="/icons/user.svg" class="rounded-circle" style="width: 40px; height: 40px;" />
                        </div>
                        <div class="col-10 align-text-bottom">
                            <h5 class="card-title"> @user.UserName </h5>
                            <p class="card-text">@user.Description</p>
                        </div>

                    </div>
                   
                    
                </div>
            </div>


        }
    </div>


</div>


